body {
  font-family: "Verdana", "sans-serif";
}

.App {
  text-align: center;
}

.title {
  padding-top: 24px;
  padding-bottom: 24px;
}

.form-container {
  padding: 24px;
}

.form-element {
  padding-bottom: 20px;
}

.form-element__pw {
  padding-top: 8px;
}